/* Estilização do footer */
footer {
    background: linear-gradient(135deg, #00bfa6, #004d40); /* Gradiente de verde claro para verde escuro */
    color: #fff;
    padding: 2rem 0; faca com que o roda pe fique travado em todos os tipos de dispositivo moveis 
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 250px;
    border-top: 1px solid #fff;
    z-index: 1000;
}

/* Container principal do footer */
.footer-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens ao topo */
    flex-wrap: wrap; /* Permite que os itens se movam para baixo em telas menores */
}

/* Seção com informações à esquerda */
.footer-info-left, 
.footer-info-center {
    flex: 1;
    text-align: center; /* Centraliza o texto */
    margin: 0 1rem; /* Margem uniforme dos dois lados */
}

.footer-info-left {
    text-align: left;
    margin-right: 1rem; /* Ajusta a margem direita */
}

.footer-info-center {
    text-align: right;
    margin-left: 1rem; /* Ajusta a margem esquerda */
}

/* Estilo da imagem do footer */
.footer-img {
    max-width: 30%; /* Ajusta a imagem para não ultrapassar o container */
    height: auto;
    display: block;
    margin: 1rem auto; /* Centraliza a imagem */
}

/* Ajusta o estilo das informações no footer */
.footer-info-left p, 
.footer-info-center p {
    margin: 0.25rem 0;
}

.footer-info-left a, 
.footer-info-center a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}

.footer-info-left a:hover, 
.footer-info-center a:hover {
    text-decoration: underline;
    color: #e0e0e0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-info-left, 
    .footer-info-center {
        text-align: center;
        margin: 1rem 0; /* Margem vertical uniforme */
    }

    .social-icon i {
        font-size: 1.5em; /* Reduz o tamanho dos ícones em telas menores */
    }
}

